body {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

@media (orientation : portrait) {
    #video {
        width : 90vw;
    }
    .button {
        font-size : 6vw;
        padding : 1vw;
        margin-top : 4vw;
        height : 20vh;
    }
}

@media (orientation : landscape) {
    #video {
        width : 360px;
    }
}

#video {
    height : calc(100% * 4 / 3);
}

p {
    display : none;
    font-size : 4vw;
    text-align : center;
}

#computerSaid {
    color : green;
}